<?xml version="1.0" encoding="utf-8" ?>
<!--####################################### begin 郭林东 ##############################################-->
<configuration>
  <connectionStrings>
    <add name="ConnectionString"
         connectionString="Server=192.168.201.221\MSSQLSERVER2008;Database=bookstore;Integrated Security=false;Uid=sa;Pwd=gld"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>


  <appSettings>
    <add key="connectionString" value="Server=192.168.201.221\MSSQLSERVER2008;Database=bookstore;Integrated Security=false;Uid=sa;Pwd=gld"/>

  </appSettings>
</configuration>
<!--####################################### end 郭林东 ##############################################-->